selenium
seleniumbase
undetected-chromedriver
webdriver-manager
pyppeteer
playwright
undetected-playwright-patch
botright==0.5.1
nodriver
selenium-driverless
pyppeteer-stealth
cdp-patches

pytest-asyncio
pytest
pytest-subtests

tf-keras