@media (prefers-color-scheme: dark) {
      body {
        background-color: #1B1B1B;
        color: #E7E8EB;
      }
      a {
        color: #3387CC;
      }
    }
#description {
    left:3%
}
#detections {
}