@media (prefers-color-scheme: dark) {
      body, button {
        background-color: #1B1B1B;
        color: #E7E8EB;
      }
      a {
        color: #3387CC;
      }
}
@media (prefers-color-scheme: light) {
      body, button {
        background-color: white;
        color: black;
      }
}
#description {
    margin: 20px;
}
#copy-button {
   margin: 20px;
}
table {
  border: 2px solid black;
  margin: 20px;
  width: 80%;
}
th, td {
  border-top: 1px solid black;
  border-right: 1px solid black;
  margin: 0px;
}
a {
 border:2px solid red;
}